.SplashScreenContainer {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: rgb(121, 120, 120);
    z-index: 1;
}

.SplashBackgroundContainer {
    width: 100%;
    height: 100%;
    position: relative;
    transform: skewY(-11deg);
}

.SplashBackground::before {
    position: absolute;
}

.SplashBackground {
    width: 100%;
    background-image: url('../../assets/homebg2.jpg');
    background-size: cover;
    transform: skewY(11deg);
}

.HomePage {
    margin-top: 130px;
    display: inline-block;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    font-size: 2vw;
}

.HomeSplashScreen {
    /* transform: skewY(11deg); */
    color: rgb(121, 120, 120);
    padding-top: 50px;
    width:  100%;
    height: 70vh;
    z-index: 1;
}

.HomeSplashScreen > h1 {
    margin: 0;
}

.ImageContainer {
    width: 100%;
    transform: skewY(11deg);
    z-index: 2;
}

.ImageContainer > img {
    position: absolute;
    right: 65px;
    bottom: 15px;
    /* z-index: 1; */
    border-radius: 50%;
    height: 220px;
    border: 5px solid white;
    box-shadow: var(--main-top-shadow);
}

.HomeContent {
    display: flex;
    flex-direction: column;
    /* display: inline-block;
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%; */
}

.BannerBackground {
    display: inline-block;
    position: relative;
    background-color: var(--grey-background-color);
    width: 100%;
    transform: skewY(-11deg);
    top: -130px;
    z-index: 2;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: var(--main-top-shadow);
}

/* .BlackBanner {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
} */

.IntroContent::before {
    position: absolute;
}

.IntroContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    transform: skewY(11deg);
    background: none;
    height: 100%;
    padding-top: 20px;
}

.IntroWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 3px solid var(--accent-color);
    border-radius: 3px;
    margin-left: 41px;
    box-shadow: var(--main-top-shadow);
    box-shadow: var(--main-shadow);
}

.IntroWrapper > p {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    color: var(--accent-color);
    overflow-wrap: break-word;
    text-align: left;
    font-size: 23px;
}

.SkillsListWrapper {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: fit-content;
    background-color: var(--accent-color);
    border: 3px solid white;
    border-radius: 3px;
    margin-right: 41px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 -4px 6px 4px rgba(46, 46, 46, 0.5);
    box-shadow: 0 2px 6px 4px rgba(46, 46, 46, 0.5);
}

.SkillsListWrapper > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    list-style: none;
}

.SkillsListWrapper > ul > li {
    text-align: left;
    vertical-align: top;
    height: 37px;
    width: 100%;
    color: white;
}

.SkillsListWrapper > ul > li > img {
    height: 20px;
}