.ContactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: min-content;
}
.ContactFormItem {
    display: flex;
    flex-direction: column;
}

.ContactFormItem > label {
    color: #666767;
    margin-left: 20px;
}

.ContactFormInput {
    background: none;
    border: 1px solid #C9D2D3;
    border-radius: 5px;
    height: 35px;
    width: 240px;
    margin: 10px 20px 20px 20px;
}


.ContactFormMessage {
    background: none;
    border: 1px solid #C9D2D3;
    border-radius: 5px;
    width: 33rem;
    height: 150px;
    margin: 10px 20px 20px 20px;
}

.ContactFormButtonItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ContactFormButton {
    background-color: white;
    color: var(--accent-color);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.ContactFormInput, .ContactFormMessage {
    background: white;
}


@media only screen and (min-width: 1300px) {
    .ContactForm {
        font-size: 26px;
    }
}