.ImgLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-left: 35px;
}

.HeaderLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderLinkContainer > span {
    padding-left: 10px;
    padding-right: 20px;
}

.NavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px;
}

.NavBar > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.NavLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.NavLink:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.NavLink:active {
    text-decoration: none;
    color: white;
}
.NavLink:visited {
    text-decoration: none;
    color: white;
}