.ImageContainer {
    width: 100%;
    transform: skewY(11deg);
    z-index: 2;
}

.ImageContainer > img {
    position: absolute;
    right: 75px;
    bottom: 15px;
    border-radius: 50%;
    height: 220px;
    border: 5px solid white;
    box-shadow: var(--alt-shadow);
}

.HomeContent {
    display: flex;
    flex-direction: column;
}

.BannerBackground {
    display: inline-block;
    position: relative;
    background-color: var(--grey-background-color);
    width: 100%;
    transform: skewY(-11deg);
    top: -130px;
    z-index: 2;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: var(--banner-top-shadow), var(--main-shadow);
}

.IntroContent::before {
    position: absolute;
}

.IntroContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    transform: skewY(11deg);
    background: none;
    height: 100%;
    padding-top: 20px;
}

@media only screen and (min-width: 1100px) {
    .IntroContent {
        font-size: 23px;
    }
}

@media only screen and (max-width: 600px) {
    .HomeContent {
        justify-content: center;
        align-items: center;
    }

    .ImageContainer > img {
        right: 50px;
        bottom: 230px;
    }

    .BannerBackground {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .IntroContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
}