.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1300px;
  background-color: white;
}

@media only screen and (min-width: 1300px) {
  .App {
    border-left: 6px solid var(--grey-background-color);
    border-right: 6px solid var(--grey-background-color);
    box-shadow: var(--main-left-shadow);
    box-shadow: var(--main-right-shadow);
  }
}

main {
  flex-grow: 1;
  position: relative;
}

Header {
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  z-index: 4;
  transition: 0.3s;
}

Footer {
  bottom: 0;
  width: 100%;
  max-width: 1300px;
  border: 2px solid var(--grey-background-color);
}