.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  /* padding-bottom: 250px; */
  position: relative;
}

Footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}